<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <style>
      * {
        box-sizing: border-box;
      }
      html, body {
        font-family: 'Open Sans', sans-serif;
      }
    </style>
    <title>TodoMVC</title>
  </head>
  <body>
    <div id="todos"></div>
  </body>
</html>
